.register {
    height: 100vh;
    background: linear-gradient(rgba(32, 13, 68, 0.422), rgba(50, 20, 107, 0.726)),
        url('https://static.vecteezy.com/system/resources/thumbnails/006/125/510/small_2x/gold-and-blue-abstract-bokeh-background-free-vector.jpg') center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .card {
        display: flex;
        flex-direction: row-reverse;
        width: 60%;
        min-height: 600px;
        border-radius: 10px;
        background-color: #fff;
        overflow: hidden;
           --updateWebkitShadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.553);
           --updateMozShadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.553);
           --updateShadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.553);
           filter: var(--iconShadow);

        .left {
            flex: 1;
            background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
                url('https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600') center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 1.6em;
            color: #fff;

            h1 {
                font-size: 6em;
                line-height: 100px;
                filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.785));
            }

            span {
                font-size: 1em;
            }

            button {
                width: 50%;
                padding: 10px;
                border: none;
                background-color: #fff;
                color: rebeccapurple;
                border-radius: 2px;
                cursor: pointer;
                font-weight: bold;
                filter: var(--iconShadow);
            }
        }

        .right {
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 4em;

            h1 {
                color: #555;
                filter: var(--iconShadow);
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 2.5em;

                input {
                    border: none;
                    border-bottom: 1px solid lightgrey;
                    padding: 1.5em .9em;
                }

                button {
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: #938eef;
                    color: #fff;
                    border-radius: 2px;
                    cursor: pointer;
                    font-weight: bold;
                    filter: var(--iconShadow);
                }
            }
        }
    }
}

@media (max-width: 960px) {
    .register {

        .card {
            width: 80%;
        }
    }
}

@media (max-width: 480px) {
    .register {

        .card {
            width: 80%;

            .left {
                display: none;
            }
        }
    }
}