// Main page
body {
  width: 100vw;
  overflow: hidden;
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

.main_Wrapper {
  width: 50vw;
  height: 50vh;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}

.main_btn_link {
  &:any-link {
    color: white;
    text-decoration: none;
  }
}

.main_button {
  margin: auto;
  margin-top: 40px;
  width: 150px;
  height: 80px;
  border-radius: 40px;
  background-color: rgb(147, 127, 100);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 70%;
    cursor: pointer;
  }
}

.bookListsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// users css

.nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100px;
  background-color: rgb(147, 127, 100);
  font-size: 3rem;
  display: flex;
  align-items: center;

  .fa-chevron-left {
    margin-left: 10px;
    color: white;
  }

  &:any-link {
    color: white;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__header {
    margin-left: 30px;
    color: white;
    width: 340px;
    height: 100px;
    display: flex;
    align-items: center;
  }
}

.rootSpace {
  position: relative;
  margin: auto;
  top: 100px;
  width: 800px;
  height: 80vh;
  overflow: auto;
  margin: auto;
}

.user_card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 750px;
  height: 150px;
  border: 1px solid gray;
  border-radius: 20px;
  margin: 10px;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, .55);
  backdrop-filter: blur(5px);

  a {
    &:any-link {
      text-decoration: none;
      color: rgb(147, 127, 100);
      display: flex;
      align-items: center;

      .fa-book {
        margin-right: 20px;
        ;
      }
    }
  }

  .user_btn {
    border: none;
    padding: 20px;
    color: rgb(147, 127, 100);
    font-size: 2rem;
    background-color: white;

    &:hover {
      cursor: pointer;
    }
  }
}

.img_back {
  z-index: -1;
  width: 600px;
  position: relative;
  bottom: 150px;
}

.add_user_footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 100px;
  background-color: rgb(147, 127, 100);
  font-size: 3rem;


  &__form {
    width: fit-content;
    margin: auto;

    &__name {
      border: none;
      padding: 15px 20px;
      border-radius: 20px;

    }

    &__submit {
      border: none;
      padding: 15px 20px;
      border-radius: 20px;
      background-color: white;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

//book list css

.bookListsWrapper {
  position: relative;
  margin: auto;
  width: 1300px;
  top: 100px;
  height: 80vh;
  overflow: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  img {
    width: 200px;
  }
}

.add_book_footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 100px;
  background-color: rgb(147, 127, 100);
  font-size: 3rem;

  &__form {
    width: fit-content;
    margin: auto;

    &__text {
      border: none;
      padding: 15px 20px;
      border-radius: 20px;

    }

    &__submit {
      border: none;
      padding: 15px 20px;
      border-radius: 20px;
      background-color: white;

      &:hover {
        cursor: pointer;
      }
    }
  }
}



.Book_card {
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid gray;
  border-radius: 20px;
  margin: 10px;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, .55);
  backdrop-filter: blur(5px);

  .btn_bookList {
    display: flex;
    min-width: 200px;
    justify-content: space-between;

    .pink {
      color: rgb(255, 18, 73);
    }

    button {
      background-color: white;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .onlyMark {
    justify-content: center;
  }

  a {
    &:any-link {
      text-decoration: none;
      color: rgb(147, 127, 100);
      display: flex;
      align-items: center;
    }
  }
}

// Book Page

.book_wrapper {
  position: relative;
  top: 100px;
  width: 80vw;
  margin: auto;
  text-align: center;

  img {
    width: 500px;
  }

  .Book_Name {
    height: 25%;
    margin: auto;
    font-size: 5rem;
  }
}

#book_nav {
  margin: auto;
  text-align: center;
  align-items: center;
}

#book_name_header {
  width: 80vw;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bolder;
}

.go_back {
  &:hover {
    cursor: pointer;
  }

  .fa-chevron-left {
    color: white;
  }

  color: white;
  text-decoration: none;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  width: 80px;
  height: 50px;
  font-size: 3rem;
}