@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Cairo:wght@300&family=Josefin+Sans:wght@300&family=Montserrat:wght@100;200&family=Rajdhani:wght@300&family=Red+Hat+Mono:wght@300;400&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Faster+One&family=Sarpanch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Faster+One&family=Sarpanch&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Sarpanch', sans-serif;
    padding: 0;
    margin: 0;
}


body {
    background: linear-gradient(150deg, #93AB8F 50%, #006D7A 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

html,
body {
    overflow-x: hidden;
}

.nav {
    width: 100%;
    height: 4em;
    background-color: #1483665b;
    backdrop-filter: blur(6px);
    box-shadow: 10px 10px 10px rgba(8, 8, 8, 0.322);
    border: 5px solid #aa1f215c;
    border-style: double;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    padding: 10px 0;
    display: flex;

    &__message {
        display: block;
        width: 105%;
        transform: translateX(100%);
        animation: move 15s linear infinite;
        align-items: center;
        justify-content: center;
        font-size: 1.3em;
        color: #163157ec;
        font-family: 'Monoton', cursive;
    }

    @keyframes move {
        to {
            transform: translateX(-20%);
        }
    }

    &__logo {
        width: 3%;
        cursor: pointer;
        position: absolute;
        top: 0%;
        z-index: 1;
    }

}

h1 {
    margin-top: 0.5em;
    font-size: 2.8em;
    font-weight: normal;
    color: #c71d1ff8;
    text-shadow: 5px 5px 5px #03030360;
    font-family: 'Monoton', cursive;
}

.gameStatus {
    display: flex;
    gap: 2em;

    &--joinedGameRoom {
        background: #28499d7a;
        box-shadow: 10px 10px 10px rgba(8, 8, 8, 0.322);
        font-weight: bold;
        color: #b50e118b;
        font-size: 1.3em;
        border: 5px solid #3156b21c;
        border-radius: 7px;
        padding: .1em .5em .1em .5em;
        text-shadow: 5px 5px 5px #0303032b;
    }

}

.container {
    display: flex;
    align-items: center;

    &__currentStatistic {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25em;
        height: 36em;
        border: 5px solid #aa1f215c;
        border-style: double;
        margin-right: 7em;
        border-radius: 16px;
        background-color: rgba(15, 14, 14, 0.463);
        backdrop-filter: blur(10px);
        box-shadow: 10px 10px 10px rgba(8, 8, 8, 0.322);
        position: relative;
        top: 3%;

        &__clock,
        h2,
        &__opponentName,
        &__playingSymbol {
            margin: 1em 0 1em 0;
        }

        &__clock,
        &__timer,
        &__playingSymbol {
            font-size: 1.9em;
        }

        &__clock,
        &__timer,
        &__wins,
        &__playingSymbol,
        &__opponentName,
        &__gemerIcons {
            text-shadow: 5px 5px 5px #0303032f;
        }

        &__playingSymbol {
            color: rgba(0, 0, 0, 0.626);
        }

        h2 {
            color: #811618ad;
            text-shadow: 5px 5px 5px #0303031d;
            font-size: 1.7em;
        }

        &__opponentName,
        &__gemerIcons {
            font-size: 1.3em;
        }

        &__gemerIcons {
            display: flex;
            font-size: 1.3em;
            text-align: center;
            margin: 0 .4em 0 .4em;

            .material-icons {
                font-size: 1.3em;
                color: rgba(15, 15, 130, 0.715);
                text-shadow: 5px 5px 5px #0303032f;
            }
        }

        &__wins {
            font-size: 2.3em;
        }

    }

    &__game {

        &__board {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            width: 31em;
            height: 34em;
            border-radius: 16px;
            margin-top: 40px;

            &__cell {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 150px;
                height: 150px;
                border: 5px solid #aa1f215c;
                border-style: double;
                border-radius: 16px;
                font-size: 5.5em;
                color: #aa1f21d5;
                text-shadow: 5px 5px 5px #030303;
                font-family: 'Monoton', cursive;
                background-color: rgba(15, 14, 14, 0.463);
                backdrop-filter: blur(6px);
                box-shadow: rgba(0, 0, 0, 0.437) 0px 14px 28px,
                    rgba(0, 0, 0, 0.402) 0px 10px 10px;
                transition: all ease-in .7s;
                cursor: pointer;
            }
        }

        &__board>#cell0,
        &__board>#cell1,
        &__board>#cell2,
        &__board>#cell3,
        &__board>#cell4,
        &__board>#cell5,
        &__board>#cell6,
        &__board>#cell7,
        &__board>#cell8 {
            transition: box-shadow 1s linear 1s;
            transition: all ease-in-out .3s;
        }

        &__board>#cell0:hover,
        &__board>#cell1:hover,
        &__board>#cell2:hover,
        &__board>#cell3:hover,
        &__board>#cell4:hover,
        &__board>#cell5:hover,
        &__board>#cell6:hover,
        &__board>#cell7:hover,
        &__board>#cell8:hover {
            border-radius: 16px;
            background: #20449f80;
            transform: scale(0.98);
            border: 4px solid #c31b1e7e;
        }



        &__gameRoomForm {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 0.5em;

            input[type="text"],
            button[type="submit"] {
                border: none;
                border-radius: 5px;
                font-size: 1.2em;
                background: #1313136e;
                box-shadow: rgba(0, 0, 0, 0.437) 0px 14px 28px,
                    rgba(0, 0, 0, 0.212) 0px 10px 10px;
            }

            input[type="text"] {
                padding: .3em 0em .3em 1em;
                color: rgba(255, 255, 255, 0.671);
            }

            button[type="submit"] {
                padding: .3em 1em .3em 1em;
                cursor: pointer;
                color: rgba(255, 255, 255, 0.458);
                transition: all ease-in-out .3s;

            }

            button[type="submit"]:hover {
                background: #414f74;
                color: rgba(255, 255, 255, 0.959);
                font-weight: normal;
                transform: scale(0.97);
            }

        }

    }

    &__chat {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.1em;
        margin-left: 3em;

        #chat-container {
            width: 25em;
            height: 30em;
            border-radius: 16px;
            margin: 9% auto auto 9%;
            overflow-y: auto;
            background-color: rgba(15, 14, 14, 0.463);
            backdrop-filter: blur(5px);
            box-shadow: 10px 10px 10px rgba(8, 8, 8, 0.322);
            box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.657);
            border: 5px solid #aa1f215c;
            border-style: double;
        }

        #chat-container div {
            border-radius: 10px;
            background-color: rgba(44, 204, 137, 0.177);
            font-family: "Montserrat";
            font-weight: bolder;
            padding: 5px;
            text-align: left;
            font-size: 18px;
            color: rgb(4, 4, 4);
        }

        #chat-container div:nth-child(2n) {
            background-color: rgba(162, 159, 159, 0);
            color: rgba(235, 228, 228, 0.663);
            font-weight: normal;
        }

        &__chatForm {
            display: grid;
            grid-template-columns: 1fr 5em;
            width: 95%;
            position: relative;
            left: 10%;
            gap: 0.5em;

            input[type="text"],
            button[type="submit"] {
                border: none;
                border-radius: 5px;
                font-size: 1.2em;
                background: #1313136e;
                box-shadow: rgba(0, 0, 0, 0.437) 0px 14px 28px,
                    rgba(0, 0, 0, 0.212) 0px 10px 10px;
            }

            input[type="text"] {
                padding: .3em 0em .3em 1em;
                width: 95%;
                color: rgba(255, 255, 255, 0.671);
            }

            button[type="submit"] {
                padding: .3em 1em .3em 1em;
                cursor: pointer;
                color: rgba(255, 255, 255, 0.458);
                transition: all ease-in-out .3s;
            }

            button[type="submit"]:hover {
                background: #414f74;
                color: rgba(255, 255, 255, 0.959);
                font-weight: normal;
                transform: scale(0.97);
            }

        }

    }

}