@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Cairo:wght@400&family=Josefin+Sans:wght@400&family=Montserrat:wght@100;200&family=Rajdhani:wght@400&family=Red+Hat+Mono:wght@300;400&family=Special+Elite&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

h1 {
  font-size: 3rem;
}

body {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 20%;
  left: 50%;
  text-align: center;
  overflow: hidden;
}

form {
  margin: 3em;

  input[type="text"],
  input[type="email"],
  input[type="password"] {
     font-size: 1.3rem;
  }
 
}