@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Cairo:wght@300&family=Josefin+Sans:wght@300&family=Montserrat:wght@100;200&family=Rajdhani:wght@300&family=Red+Hat+Mono:wght@300;400&family=Special+Elite&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

*:focus {
    outline: none;
}

.heading {
    text-align: center;
    font-size: 80px;
    margin-bottom: 50px;
    color: rgba(255, 51, 0, 0.409);
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.827);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: auto;
    border: 10px solid rgba(255, 51, 0, 0.231);
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.781);
    padding: 10%;

    input,
    button {
        border: none;
        border-radius: 5px;
        font-size: .8em;
        background: #1313136e;
        backdrop-filter: blur(4px);
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.683);
        padding: 10px;
        margin-bottom: 2em;
        color: rgba(255, 255, 255, 0.233);
    }

    input {
        padding: .3em 0em .3em 1em;
    }

    button {
        padding: .3em 1em .3em 1em;
        cursor: pointer;
        transition: all ease-in-out .2s;
    }

    button:hover {
        background: #4a4d9d93;
        color: rgba(255, 255, 255, 0.831);
        transform: scale(0.98);
    }

    input::placeholder {
        color: rgba(255, 255, 255, 0.233);
    }

    input:focus,
    button:hover {
        background: #414f747b;
        color: rgba(255, 255, 255, 0.493);
    }

}

.error {
    color: rgba(241, 63, 63, 0.886);
}

.text-decoration {
    text-decoration: none;
}