
button,
.form input,
.form input[type="checkbox"] {
    // display: block;
    display: flex;
    justify-content: center;
    text-align: left;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
    font-size: .7em;
    outline: none;
    border: .5px solid rgb(10, 10, 10);
    background-color: transparent;
    border-radius: 5px;
    letter-spacing: 2px;
}


.form input,
.form input:focus {
    color: rgba(255, 255, 255, 0.453);
    font-weight: normal;
}

input[type="checkbox"] {
    width: 1.2em;
    height: 1.2em;
    border: none;
    background-color: transparent;
}

.form button {
    box-shadow: 5px 5px 5px black;
}