.card{
    padding: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
    margin: 2px;
    color: $textColor;
    transition: all 0.5s ease-in-out;

    &:hover{
        opacity: .5;
        width: 300px;
        cursor: pointer;
    }    
}