h1{
    color:blue;
    font-size:30px;
    text-align: center;

}
img{
    width:300px;
    height:300px;
    border: .5px solid rgba(128, 128, 128, 0.332);
}    

input{
    color:black;
    font-size:30px;
}
.mark{
    font-size:30px;
}

button{
    font-size: 30px;
}