button{
    background-color: rgb(0, 51, 255);
    border-radius: 15px;
    border: none;
    width: 90px;
    height: 30px;
    font-family: sans-serif;
    font-size:large;
    font-weight: bold;
    color: beige;
}