.add-card-icon {
    color: rgba(255, 255, 255, 0.467);
    position: fixed;
    bottom: 2.5%;
    right: 16%;
    cursor: pointer;
    font-size: 2em;
    transition: all 0.5s ease-in-out;

    :hover{
        color: #de09459c;
        transform: scale(.97);
    }
}