.popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #251f3f7c;
    font-family: 'Montserrat';


    .popup {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 30px;
        max-width: 430px;
        height: 470px;
        margin: 190px auto;
        background: #282c34;
        border-radius: 10px;
        border: 6px solid #228b2277;
        color: rgba(0, 0, 0, 0.5);
        box-shadow: 10px 10px 10px rgb(0, 0, 0);

        button {
            align-self: center;
            cursor: pointer;
            width: 30%;
            color: rgb(249, 244, 244);
            background-color: #de09457a;
            border: none;
            width: fit-content;
            box-shadow: 5px 5px 5px rgb(0, 0, 0);
            font-family: 'Montserrat';
        }

    }

}