body{
    background-color:rgb(225, 215, 202);
    .container{
        position: absolute;
        top:10px;
        left:600px;
    }
    .textTitle{
        color: rgb(118, 8, 8);
        font-size: larger;
        font-weight: bolder;
        font-style: italic;
        margin-left: -105px;

    }
   .publish{
      border-radius:20px;
      background-color: rgb(192, 52, 52);
      height: 50px;
      margin-top: 30px;
      margin-left: 85px;
   }
   #textStory{
       width: fit-content;
   }
   span{
       font-size: x-large;
       font-style: italic;
   }
   h3{
       text-decoration: underline;
       ;
   }

}