$lightGreen: #b4e7f2;

.App {

    .container {
        width: 1024px;

        .link {
            text-decoration: none;
            color: inherit;
        }

        .single {
            display: flex;
            gap: 50px;

            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;

                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 14px;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .info {
                       
                        span {
                            font-weight: bold;
                        }

                        p {
                           margin: 0;
                           padding: 0;
                        }
                    }
                }

                .edit,
                .delete {
                    display: flex;
                    cursor: pointer;
                    font-size: 1.4em;
                    width: 20px;
                    height: 20px;
                    padding: 8px;
                    border-radius: 50%;
                    color: rgb(83, 83, 85);
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.282);
                    }
                }

                .edit {
                    background-color: $lightGreen;
                }

                .delete {
                    background-color: rgba(240, 128, 128, 0.755);
                }

                h1 {
                    font-size: 42px;
                    color: #333;
                }

                p {
                    text-align: justify;
                    line-height: 30px;
                }
            }

        }

    }
}