@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Cairo:wght@300&family=Josefin+Sans:wght@300&family=Montserrat:wght@100;200&family=Rajdhani:wght@300&family=Red+Hat+Mono:wght@300;400&family=Special+Elite&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

*:focus {
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}




.form {
    z-index: 1;
    width: 400px;
    height: auto;
    color: rgb(0, 0, 0);

    .heading {
        opacity: 1;
        text-transform: capitalize;
        text-align: center;
        font-size: 80px;
        font-weight: 300;
        margin-bottom: 50px;
    }

    input,
    button[type="submit"] {
        opacity: 1;
        width: 80%;
        height: 35px;
        display: block;
        margin: 20px auto;
        border-radius: 5px;
        background: rgb(244, 241, 241);
        border: none;
        color: rgb(6, 6, 6);
        padding: 15px;
    }

    input::placeholder {
        color: rgb(3, 3, 3);
    }

    input:focus,
    button:hover {
        background: #fff;
        color: #000;
        font-weight: 600;
    }

    input:focus {
        font-size: 1.1em;
    }

    input:focus::placeholder {
        color: #000;
        font-weight: 600;
    }

    button {
        width: auto;
        padding: 0 20px;
        cursor: pointer;
        margin: 50px auto 0;
        opacity: 0;
    }

    .link {
        opacity: 1;
        text-align: center;
        color: rgba(14, 14, 14, 0.93);
        display: block;
        margin: 30px auto;
        text-decoration: none;
        transition: all ease-in .1s;
        font-weight: normal;
    }

    .link:hover {
        color: rgba(19, 18, 18, 0.884);
    }
}

