@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Neuton&family=Rock+Salt&family=Ubuntu&display=swap');

.nav {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    width: 100%;
    background-color: #912e4a;
    margin: 0;

    .heading {
        font-family: 'Rock Salt', cursive;
        letter-spacing: 8px;
        text-align: center;
        color: rgba(29, 27, 154, 0.688);
        text-shadow: 5px 5px 5px black;
        padding: 0;
        margin-bottom: .15em;
    }

    .links {
        background-color: transparent;
        color: rgba(255, 255, 255, 0.453);
        text-decoration: none;
        border-radius: 10px;
        display: flex;
        justify-content: center;

        .link-decoration {
            text-decoration: none;
            color: grey;
            margin: 0 5em;
            font-weight: bold;
        }

        .nav-icon {
            width: 1.2em;
            margin-left: .4em;
            color: rgba(255, 255, 255, 0.64);
        }

        p {
            font-size: .65em;
        }
    }

}