p {
    color: $textColor2;
    font-size: 1.4em;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.752);
}

.breed-img {
    width: 500px;
    max-height: 600px;
    margin: 1em;
    display: flex;
    justify-self: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.648);
    padding: 1em 2em;
}

.text-decoration {
    text-decoration: none;
}

.icon {
    margin: 0 auto;
    width: 10%;
    box-shadow: none;
}