.card{
    
    border-radius: 10px;
    box-shadow: 2p 2p rgba(0, 0, 0, 0.58);
    border: 1px solid rgba(206, 206, 206);
    width: fit-content;
    margin: 10px;
    img{
      width: 100px;  
      border-radius: 10px 10 px 0px 0px;
    }
}