// .card{
    
//     border-radius: 10px;
//     box-shadow: 2p 2p rgba(0, 0, 0, 0.58);
//     border: 1px solid rgba(206, 206, 206);
//     width: fit-content;
//     margin: 10px;
//     img{
//       width: 100px;  
//       border-radius: 10px 10 px 0px 0px;
//     }
// }


.card {
  padding: 1em;
  border-radius: 20px;
  box-shadow: 2p 2p 6px rgba(0, 0, 0, 0.578);
  border: 1px solid rgb(206, 206, 206);
  width: 95%;
  height: 300px;
  margin: 10px;
  background-color: teal ;
  position: relative;
  img {
    border: 10px solid salmon;
    width: 200px;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    inset: 0;
    margin:auto;
  }
}