@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Cairo:wght@300&family=Josefin+Sans:wght@300&family=Montserrat:wght@100;200&family=Rajdhani:wght@300&family=Red+Hat+Mono:wght@300;400&family=Special+Elite&display=swap');

*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}

body {
    height: 100vh;
    background: linear-gradient(to bottom, #f9544c 50%, #090c31 50%);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1 {
    font-size: 2.6em;
    font-weight: 700;
    text-shadow: 0 20px 30px rgba(0, 5, 24, 0.96);
}

.container {
    width: 60vw;
    height: 70vh;
    background-color: #15173c;
    box-shadow: 0 20px 50px rgba(0, 5, 24, 0.4);
    border-radius: 8px;
    padding: 50px 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: grid;
    grid-template-columns: 25% 75%;

    .sideBar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #ffffff;

        button,
        label, div {
            font-size: 1.1em;
            padding: 10px 0px;
            margin: 20px 0;
            border: none;
            background-color: transparent;
            box-shadow: 0 15px 30px rgba(0, 5, 24, 0.874);
            color: #ffffffb6;
            border-radius: 5px;
        }

        ul {
            list-style: none;
        }

        button,
        ul,
        li {
            cursor: pointer;
        }

        button:disabled {
            background-color: #1e2052;
            color: #ffffff38;
        }
    }

    .mainBar {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .board {
            width: 70%;
            height: 70%;
            margin: auto;
            display: none;
            grid-template-columns: repeat(3, auto);
            justify-content: center;
            align-content: center;
            transition: all ease-in-out 0.3s;

            .cell {
                width: var(--cell-size);
                height: var(--cell-size);
                border: 1px solid #ffffff80;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                cursor: pointer;
                transition: all ease-in-out 0.3s;
            }

            .cell:first-child,
            .cell:nth-child(2),
            .cell:nth-child(3) {
                border-top: none;
            }

            .cell:nth-child(3n+1) {
                border-left: none;
            }

            .cell:nth-child(3n) {
                border-right: none;
            }

            .cell:last-child,
            .cell:nth-child(8),
            .cell:nth-child(7) {
                border-bottom: none;
            }

            .cell.cross,
            .cell.circle {
                cursor: not-allowed;
            }
        }

        .cell.cross::after,
        .cell.cross::before,
        .board.cross .cell:not(.cross):not(.circle):hover::before,
        .board.cross .cell:not(.cross):not(.circle):hover::after {
            content: "";
            position: absolute;
            width: calc(var(--mark-size) * .15);
            height: var(--mark-size);
            background-color: #f9544c;
            box-shadow: 5px 15px 30px rgba(0, 2, 10, 0.874);
        }

        .cell.cross::before,
        .cell.cross::after,
        .cell.circle::before {
            background-color: #f9544c;
            box-shadow: 0 20px 30px rgba(0, 5, 24, 0.874);
        }

        .board.cross .cell:not(.cross):not(.circle):hover::before,
        .board.cross .cell:not(.cross):not(.circle):hover::after,
        .board.circle .cell:not(.cross):not(.circle):hover::before {
            background-color: rgba(80, 78, 78, 0.461);
            box-shadow: none;
        }

        .cell.cross::before,
        .cell.cross::after,
        .board.cross .cell:not(.cross):not(.circle):hover::before,
        .board.cross .cell:not(.cross):not(.circle):hover::after {
            content: '';
            position: absolute;
            width: calc(var(--mark-size) * .15);
            height: var(--mark-size);
        }

        .cell.cross::before,
        .board.cross .cell:not(.cross):not(.circle):hover::before {
            transform: rotate(45deg);
        }

        .cell.cross::after,
        .board.cross .cell:not(.cross):not(.circle):hover::after {
            transform: rotate(-45deg);
        }

        .cell.circle::before,
        .cell.circle::after,
        .board.circle .cell:not(.cross):not(.circle):hover::before,
        .board.circle .cell:not(.cross):not(.circle):hover::after {
            content: '';
            position: absolute;
            border-radius: 50%;
        }

        .cell.circle::before,
        .board.circle .cell:not(.cross):not(.circle):hover::before {
            width: var(--mark-size);
            height: var(--mark-size);
        }

        .cell.circle::after,
        .board.circle .cell:not(.cross):not(.circle):hover::after {
            width: calc(var(--mark-size) * .7);
            height: calc(var(--mark-size) * .7);
            background-color: #15173c;
        }

    }
}

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.623);
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;

    button {
        font-size: .5em;
        font-weight: bold;
        background-color: white;
        border: .5px solid black;
        padding: .20em .4em;
        border-radius: 5px;
        cursor: pointer;
        transition: all ease-in-out 0.3s;

        &:hover {
            background-color: rgba(0, 0, 0, 0.989);
            color: white;
            border-color: white;
        }
    }

}

.winning-message.show {
    display: flex;
}