@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Cairo:wght@300&family=Josefin+Sans:wght@300&family=Montserrat:wght@100;200&family=Rajdhani:wght@300&family=Red+Hat+Mono:wght@300;400&family=Special+Elite&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgba(6, 6, 87, 0.778);
}


#root {
    margin-inline: 8%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    .card-conteiner {
        display: flex;
        flex-direction: column;
        justify-self: center;
        margin-bottom: 4em;

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 300px;
            background-color: #FFF;
            border-radius: 10px;
            box-shadow: 5px 5px 20px black;
            margin-bottom: 1em;
            font-size: 1.3rem;
            vertical-align: middle;
            font-weight: bold;

            img {
                width: 270px;
                height: 280px;
                border-radius: 8px;
                border: 1px solid rgba(6, 6, 87, 0.865);
            }
        }

        input[type="text"],
        button {
            width: 95%;
            border-radius: 5px;
            font-size: 1.3rem;
            margin: .5rem;
            justify-content: center;
            justify-self: center;
            background-color: rgba(0, 0, 0, 0.399);
            color: rgba(255, 255, 255, 0.558);
            outline: none;
            border: none;
            text-align: center;
        }

        button {
            cursor: pointer;
        }

    }

}

#scrollToTopBtn {
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 15%;
    border-radius: 5px;
    font-size: 1.3rem;
    margin: .5rem;
    background-color: rgba(0, 0, 0, 0.399);
    color: rgba(255, 255, 255, 0.558);
    outline: none;
    border: none;
    text-align: center;
    cursor: pointer;
}