.card {
 
  border-radius: 20px;
  box-shadow: 2p 2p 6px rgba(0, 0, 0, 0.578);
  border: 1px solid rgb(206, 206, 206);
  width: fit-content;
  margin: 10px;
  img {
    width: 100px;
    border-radius: 10px 10px 0px 0px;
  }
}

