.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        margin: 0;
        text-align: center;
        color: #fff;
        padding: .35em .5em;
        background-color: var(--main-color);
        text-transform: uppercase;
    }
    img {
        padding: .35em .5em;   
    }
}