.navbar {
    border-top: 1px solid black;
    // box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 10%;
    &__items {
        margin: 0;
        padding: 0;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        height: 100%;
        a {
            text-decoration: none;
            height: 100%;
            width: 100%;
            &:visited {
                color: black;
            }
            &:nth-of-type(2) {
                border-left: 1px solid black;
            }
            &:nth-of-type(3) {
                border-left: 1px solid black;
            }
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .25em;
        height: 100%;
        // border: 2px solid #fff;
        transition: all .35s ease-in-out;
        &:hover{
            box-sizing: border-box;
            border-top: 2px solid var(--main-color);
            background-color: #e8e8e8;
            .item__icon {
                color: var(--main-color);
            }
            .item__description {
                color: var(--main-color);
            }
        }
        .item__icon {
            transition: all .35s ease-in-out;
            color: #000;
        }
        .item__description {
            transition: all .35s ease-in-out;
            margin: 0;
            font-size: .85rem;
        }
    }
}