@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Cairo:wght@300&family=Josefin+Sans:wght@300&family=Montserrat:wght@100;200&family=Rajdhani:wght@300&family=Red+Hat+Mono:wght@300;400&family=Special+Elite&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 16px;
}

body {
    background: linear-gradient(to bottom right, #93AB8F 50%, #006D7A 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 3.5em;
    font-weight: bold;
    color: #aa1f21;
    text-shadow: 5px 5px 5px #03030350;
}

.message {
    font-size: 1.5em;
    text-shadow: 5px 5px 5px #0303032b;
}

.board {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    width: 600px;
    height: 600px;
    border-radius: 16px;

    .cell {
        width: 170px;
        height: 170px;
        color: #aa1f21;
        font-size: x-large;
        text-shadow: 5px 5px 5px #030303;
        font-size: 6.8em;
        font-weight: bold;
        background: #131313a0;
        box-shadow: rgba(0, 0, 0, 0.437) 0px 14px 28px,
            rgba(0, 0, 0, 0.402) 0px 10px 10px;
        transition: all ease-in .7s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}



.board>#cell0:hover,
.board>#cell1:hover,
.board>#cell2:hover,
.board>#cell3:hover,
.board>#cell4:hover,
.board>#cell5:hover,
.board>#cell6:hover,
.board>#cell7:hover,
.board>#cell8:hover {
    border-radius: 16px;
    background: #bfbebed5;
}

.board>#cell0,
.board>#cell1,
.board>#cell2,
.board>#cell3,
.board>#cell4,
.board>#cell5,
.board>#cell6,
.board>#cell7,
.board>#cell8 {
    transition: box-shadow 1s linear 1s;
    transition: all ease-in-out .3s;
}