body{
    text-align: center;
    background-image: url("../images/books.jpg");
#upBook{
    text-align: center;
    align-items: center;
    #labDes{
        position: relative;
        bottom: 25px;
        
    }
    
}
}