@import '../features/home/home.scss';
@import '../features/login/login.scss';
@import '../features/profile/profile.scss';
@import '../features/register/register.scss';
@import '../components/navbar/navbar.scss';
@import '../components/rightbar/rightbar.scss';
@import '../components/leftbar/leftbar.scss';
@import '../components/posts/posts.scss';
@import '../components/stories/stories.scss';
@import '../components/post/post.scss';
@import '../components/comments/comments.scss';
@import '../components/share/share.scss';
@import '../components/update/update.scss';
@import '../features/profile/profile.scss';
@import '../features/404/404.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --logo: rgb(32, 32, 246);
  --bg: white;
  --bgSoft: #f6f3f3;
  --profilePicBG: linear-gradient(to bottom, rgba(3, 3, 3, 0.172) 50%, rgba(221, 221, 221, 0.178) 40%, rgba(243, 243, 243, 0.789) 70%);
  --border: lightgray;
  --textColor: #000;
  --textColorSoft: rgb(98, 98, 98);
  --textColorSoft2: #000;
  --rightBatFW: 600;
  --iconShadow: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.483));

  --rightBarItemWebkitShadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.108);
  --rightBarItemMozShadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.108);
  --rightBarItemShadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.108);

  --updateWebkitShadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  --updateMozShadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  --updateShadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);

}

[data-theme='dark'] {
  --logo: rgba(55, 55, 239, 0.651);
  --bg: rgb(33, 35, 44);
  --bgSoft: rgb(40, 43, 53);
  --textColorSoft: rgba(211, 211, 211, 0.311);
  --textColorSoft2: rgba(245, 245, 245, 0.624);
  --rightBatFW: normal;
  --border: #444;
  --textColor: whitesmoke;
  --iconShadow: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.992));

  --rightBarItemWebkitShadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.491);
  --rightBarItemMozShadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.491);
  --rightBarItemShadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.491);

  --updateWebkitShadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.553);
  --updateMozShadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.553);
  --updateShadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.553);

  --profilePicBG: linear-gradient(to bottom, rgba(3, 3, 3, 0.187) 50%, rgba(42, 42, 42, 0.348) 40%, rgb(29, 30, 34) 80%);
}

.like {
  color: red;
}

.commentIcon {
  color: #078d3a;
}