@media(max-width:400px) {
  
 .nav{
  display: flex;
  position: absolute;
  bottom: 0px;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;

}
Link{
  text-decoration: none;
  width: 1rem;
}
.link{
 text-decoration: none;
 text-decoration-line: none;
 /* padding: 3rem; */
 border-bottom: none;
}
.link:link{
  text-decoration: none;

}
img{
  width: 2rem;
  position: relative;
   /* top: -1rem; */
} 
.dashboard, .myProduct, .analytics, .manage{
  padding: 5px;
}
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
