body{
    background-color: pink;
    // display: flex;
    // justify-content: space-around;
    
    h1{
        text-align: center;
    }
    #image{
        display: flex;
        justify-content: space-around;
    div{
        position: relative;
    .title{
        color: aliceblue;
        position: absolute;
        padding: 30px;
        // z-index: 1;
        text-align: center;
        align-items: center;
        left: 100px;
    }
    
img{
    // position: relative;
    width: 400px;
    padding: 30px;
   
}
}
}
}