

body{
    width: 1200px;
    height: 100vh;
    
}

.container{
    display: flex;
    width: 200px;
    height: 20vh;
    flex-basis: 100%;
    background-color: blanchedalmond;
    border: black solid 2px;
    
    img{
        
    }
}

.gallery{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}