@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Cairo:wght@300&family=Josefin+Sans:wght@300&family=Montserrat:wght@100;200&family=Rajdhani:wght@300&family=Red+Hat+Mono:wght@300;400&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
}

body {
    background: url('../img/bg.jpg') center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    color: rgba(45, 31, 18, 0.525);
}

.login-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 40%;

    form,
    .register-link,
    .userLoginError {
        transform: translate(-50%, -50%);
        left: 50%;
    }

    form {
        position: absolute;
        top: 50%;

        input[type=submit] {
            font-size: 1.3rem;
            cursor: pointer;
            color: rgba(110, 20, 10, 0.647);
            transition: transform .4s ease-in-out;
            text-shadow: 2px 8px 20px rgba(0, 5, 24, 0.96);

            &:hover {
                transform: scale(0.98);
                box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.632);
            }
        }

        input[type=text],
        input[type=password] {
            font-size: 1.3rem;
            letter-spacing: 2px;
            outline: none;
        }

        ::placeholder {
            color: rgba(110, 20, 10, 0.381);
        }
    }

    .register-link {
        position: relative;
        top: -160%;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 1.4rem;
    }

    .userLoginError {
        position: absolute;
        top: 60%;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 1.4rem;
    }

    .title-login {
        text-shadow: 0 20px 30px rgba(39, 28, 17, 0.779);
        position: absolute;
        top: 0%;
        left: 33%;
        font-size: 3.8em;
        letter-spacing: 7px;

        .smilyImg-players {
            width: 2.3rem;
            top: 29%;
            left: 73.8%;
            opacity: .7;
        }
    }

}

input[type=number],
input[type=text],
input[type=submit],
input[type=password],
.newGameBtm,
.statisticBtn {
    color: rgb(10, 10, 10);
    text-shadow: 0 20px 30px rgb(10, 10, 11);
    border: 5px solid rgba(110, 20, 10, 0.242);
    box-shadow: 0 15px 30px rgba(0, 5, 24, 0.454);
    border-style: double;
    background-color: transparent;
    border-radius: 5px;
    padding: .2em .7em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.title-game,
.title-statistic {
    font-family: 'Russo One', sans-serif;
    transform: translate(-50%, -50%);
    top: 1%;
    left: 50%;
    position: absolute;
    color: rgba(45, 31, 18, 0.525);
    font-size: 2.4em;
    font-weight: bold;
    letter-spacing: 8px;
    text-shadow: 0 20px 30px rgba(39, 28, 17, 0.779);
}

.title-game {
    .smilyImg-game {
        width: 1.8rem;
        top: 24%;
        left: 73.5%;
        opacity: .7;
        transition: all .5s ease;

        &:hover {
            transform: scale(1.5);
        }
    }
}

.title-statistic {
    .smilyImg-statistic {
        width: 1.9rem;
        top: 19%;
        left: 60.4%;
        opacity: .7;
        transition: all .5s ease;
    }
}

.smilyImg-players,
.smilyImg-game,
.smilyImg-statistic {
    position: absolute;
}

.generalStatistic,
.playersList,
.bestTime {
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    color: rgba(45, 31, 18, 0.557);
    text-shadow: 0 20px 30px rgba(10, 10, 11, 0.549);
    border: 5px solid rgba(110, 20, 10, 0.242);
    box-shadow: 0 15px 30px rgba(0, 5, 24, 0.454);
    border-style: double;
    font-size: 1.5em;
    background-color: transparent;
    border-radius: 5px;
    padding: 0;
}

.bestTime {
    top: 20%;
    left: 50%;
    width: 30%;
    justify-content: center;
    text-align: center;
    letter-spacing: 2px;

    .user-icon {
        font-size: 2rem;
        color: rgba(130, 29, 18, 0.531);
    }
}

.generalStatistic {
    top: 55%;
    left: 50%;
    width: 38%;

    &__info-totalRounds,
    &__info-time,
    &__info-winPoints,
    &__info-flips {
        display: flex;
        text-align: center;
        justify-content: space-between;
        padding: 0 4.5rem 0 4.5rem;
    }

    .user-icon {
        font-size: 2rem;
        color: rgba(130, 29, 18, 0.531);
    }

    .gen-stat-inner {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
    }
}

.playersList {
    top: 50%;
    left: 13%;
    width: 20%;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Russo One', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    .playersList-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .user-icon {
        font-size: 2.1rem;
        color: rgba(130, 29, 18, 0.531);
    }

    .generalStatistic-title {
        left: 50%;
        width: 80%;
        transform: translate(-50%, -50%);
        position: relative;
        color: rgb(45, 31, 18);
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 5px;
        text-shadow: 0 20px 30px rgba(0, 5, 24, 0.96);
        border: 5px solid rgba(110, 20, 10, 0.242);
        box-shadow: 0 15px 30px rgba(0, 5, 24, 0.454);
        border-style: double;
        padding: .2em .6em;
    }
}

.gameButtons {
    display: flex;
    gap: 2rem;
    position: absolute;
    top: 4%;
    left: 6.5%;


    .newGameBtm,
    .statisticBtn {
        font-size: 1.2rem;
        font-family: 'Russo One', sans-serif;
        font-weight: normal;
        color: rgba(45, 31, 18, 0.557);
        letter-spacing: 2px;
        transition: all .3s ease;
        cursor: pointer;

        &:hover {
            transform: scale(0.98);
            box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.632);
        }
    }
}

.containerGame {
    grid-template-columns: repeat(4, auto);
    transform: translate(-50%, -50%);
    justify-content: center;
    position: absolute;
    margin: 25px auto;
    grid-gap: 15px 20px;
    display: grid;
    perspective: 700px;
    top: 50%;
    left: 50%;

    &__card {
        position: relative;
        cursor: pointer;
        height: 160px;
        width: 115px;
        border-radius: 8px;
        transform-style: preserve-3d;
        transition: all .8s ease;
        box-shadow: 0 15px 30px rgba(0, 5, 24, 0.576);

        &:hover {
            transform: scale(0.97);
            box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.737);
        }

        &__face {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform 500ms ease-in-out;
            backface-visibility: hidden;
            width: 115px;
            height: 160px;
            border-radius: 10px;
        }

        &__back {
            background: url('../img/back.jpg');
            transform: rotateY(0deg);
        }

        &__front {
            transform: rotateY(180deg);
        }
    }
}

.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 44%;
    left: 15%;
    text-align: center;
    width: 20%;
    height: 59%;
    font-size: 2.5rem;
    border: 7px solid rgba(110, 20, 10, 0.374);
    border-style: double;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 5, 24, 0.454);
    color: rgba(45, 31, 18, 0.319);
    text-shadow: 0 20px 30px rgba(0, 5, 24, 0.56);

    &__title,
    &__info-player,
    &__info-flips,
    &__info-time {
        position: relative;
    }

    &__title {
        max-width: 90%;
        top: -5%;
        color: rgba(45, 31, 18, 0.393);
        font-size: 1.5rem;
        font-weight: normal;
        letter-spacing: 5px;
        text-shadow: 0 20px 30px rgba(0, 5, 24, 0.96);
        border: 5px solid rgba(110, 20, 10, 0.242);
        box-shadow: 0 15px 30px rgba(0, 5, 24, 0.454);
        border-style: double;
        padding: .2em .9em;
        font-family: 'Russo One', sans-serif;
    }

    &__info-player {
        top: -14%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;

        .user-icon {
            font-size: 2rem;
            color: rgba(130, 29, 18, 0.531);
        }
    }

    .user-icon,
    .user-icon {
        font-size: 2.1rem;
        color: rgba(130, 29, 18, 0.531);
    }

    &__info-flips {
        top: -15%;
    }

    &__info-time {
        top: -12%;
    }
}

.nav {
    .arrow-back-to-game {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 6%;
        left: 12%;
        color: rgba(45, 31, 18, 0.227);
        text-shadow: 0 20px 30px rgba(39, 28, 17, 0.779);
        font-weight: bold;
        font-size: 4.5rem;
        cursor: pointer;
        transition: all .3s ease-in-out;
        animation-name: movingArrow;
        animation-duration: 8s;
        animation-iteration-count: infinite;

        @keyframes movingArrow {
            0% {
                left: 12%;
            }

            50% {
                left: 11%;
            }

            100% {
                left: 12%;
            }
        }

        &:hover {
            color: rgba(119, 3, 3, 0.576);
            animation-play-state: paused;
        }
    }

}

.arrow-back-to-login {
    position: absolute;
    transform: translate(0%, -50%);
    top: 80%;
    color: rgba(45, 31, 18, 0.227);
    text-shadow: 0 20px 30px rgba(39, 28, 17, 0.779);
    font-weight: bold;
    font-size: 4.5rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
    animation-name: movingArrow;
    animation-duration: 8s;
    animation-iteration-count: infinite;

    @keyframes movingArrow {
        0% {
            left: 12%;
        }

        50% {
            left: 11%;
        }

        100% {
            left: 12%;
        }
    }

    &:hover {
        color: rgba(119, 3, 3, 0.576);
        animation-play-state: paused;
    }
}

.winning-message {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: rgba(110, 20, 10, 0.374);
    font-family: 'Russo One', sans-serif;
    color: rgba(65, 23, 11, 0.534);
    font-weight: bold;
    font-size: 5rem;

    img {
        animation: scale 2000ms ease-in-out forwards;
        z-index: -1;
    }

    @keyframes scale {
        to {
            transform: scale(1.3);
        }
    }

    .message-buttons {
        display: flex;
        flex-direction: column;
        margin-top: .5em;

        .statisticBtn {
            font-size: .2em;
            background-color: rgba(45, 31, 18, 0.797);
            color: rgba(255, 255, 255, 0.303);
            border: .5px solid black;
            padding: .2rem .5rem;
            border-radius: 5px;
            cursor: pointer;
            transition: all ease-in-out 0.3s;
            margin: .3em;
            z-index: 1;

            &:hover {
                background-color: rgba(45, 31, 18, 0.624);
                color: rgba(255, 255, 255, 0.52);
                border-color: rgba(255, 255, 255, 0.335)
            }
        }

    }

}

.winning-message.show {
    display: flex;
}

// login gage animation
.crossfade {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 12%;
    width: 5%;
    border: 1px solid rgba(86, 85, 85, 0.211);
    box-shadow: 5px 20px 25px rgb(0, 0, 0);
    border-radius: 8px;
    transform: perspective(600px) rotateY(20deg) rotateX(10deg);
}

#crossfade>img {
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 40s linear infinite 0s;
    -moz-animation: imageAnimation 40s linear infinite 0s;
    -o-animation: imageAnimation 40s linear infinite 0s;
    -ms-animation: imageAnimation 40s linear infinite 0s;
    animation: imageAnimation 40s linear infinite 0s;
}

#crossfade>img:nth-child(1) {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    -ms-animation-delay: 1s;
    animation-delay: 1s;
}

#crossfade>img:nth-child(2) {
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;
    -o-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s;
}

#crossfade>img:nth-child(3) {
    -webkit-animation-delay: 17s;
    -moz-animation-delay: 17s;
    -o-animation-delay: 17s;
    -ms-animation-delay: 17s;
    animation-delay: 17s;
}

#crossfade>img:nth-child(4) {
    -webkit-animation-delay: 25s;
    -moz-animation-delay: 25s;
    -o-animation-delay: 25s;
    -ms-animation-delay: 25s;
    animation-delay: 25s;
}

#crossfade>img:nth-child(5) {
    -webkit-animation-delay: 33s;
    -moz-animation-delay: 33s;
    -o-animation-delay: 33s;
    -ms-animation-delay: 33s;
    animation-delay: 33s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
        transform: scale(1) rotate(-70deg) rotateY(-70deg) rotateX(20deg) rotateZ(-35deg);
    }

    8% {
        opacity: .4;
        animation-timing-function: ease-out-out;
        transform: scale(3);
    }

    17% {
        opacity: .2;
        transform: rotate(10deg) rotateY(60deg) rotateZ(15deg);

    }

    25% {
        opacity: 0;
        transform: scale(2);
    }

    100% {
        opacity: 0;
        left: -100%;
        top: -150%;
        transform: rotate(-20deg) scale(.7);
    }
}