$lightGreen: #b4e7f2;

.App {

    .container {

        .link {
            text-decoration: none;
            color: inherit;
        }

        nav {

            footer {
                margin-top: 100px;
                padding: 20px;
                background-color: $lightGreen;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 12px;

                img {
                    height: 50px;
                    opacity: .6;
                    cursor: pointer;
                    transition: all 0.2s ease-in;

                    &:hover {
                        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.412));
                    }
                }
            }

        }

    }
}