.nav {
    position: fixed;
    bottom: 0px;
    width: 100px;
    display: flex;
    background-color: rgb(255, 255, 255);
    
    >*{
        flex:1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        
    }
}