.nav {
   
  background-color: teal;
  padding: .5px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
    
    
    >*{
        flex:1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        color: wheat;

    }
}