body{
    background-color: yellow;
}
#root{
    display: flex;
.kittens{
    padding: 20px;
    h4{
    font-weight:bold;
    color: rgb(10, 10, 243);
    width: 175px;
    }

img{
    width: 200px;
    height: 150px;
}
}
}
#root1{
    display: flex;
.kittens{
    padding: 20px;
    h4{
    font-weight:bold;
    color: rgb(10, 10, 243);
    width: 175px;
    }

img{
    width: 200px;
    height: 150px;
}
}
}