@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');


.header {
    color: rgba(250, 248, 248, 0.52);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.496);
    font-family: 'Neuton', serif;
    letter-spacing: 3px;
}

.flex {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-gap: 5em;
    margin: 3em auto;


    &__card {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 500px;
        height: 600px;
        border: .5px solid rgba(128, 128, 128, 0.332);
        margin-bottom: 1em;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.752);
        padding: 1em;

        &__img {
            max-width: 100%;
            margin: 1em;
            cursor: pointer;
            border-radius: 10px;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.224);
            padding: none;
        }

        &__text {
            font-size: 1.1em;
            cursor: pointer;
            text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.496);
            color: rgba(252, 251, 247, 0.477);
            font-family: 'Neuton', serif;
            letter-spacing: 2px;
        }
    }

}