$lightGreen: #b4e7f2;

.App {

    .container {
        width: 1024px;

        .link {
            text-decoration: none;
            color: inherit;
        }

        .add {
            margin-top: 20px;
            display: flex;
            gap: 20px;

            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;

                input {
                    padding: 10px;
                    border: 1px solid lightgray;
                }

                .editorContainer {
                    height: 300px;
                    overflow: scroll;
                    border: 1px solid lightgray;

                    .editor {
                        height: 100%;
                        border: none;
                    }
                }
            }

            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .item {
                    border: 1px solid lightgray;
                    padding: 10px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 12px;
                    color: #555;

                    h1 {
                        font-size: 20px;
                    }

                    .file {
                        text-decoration: underline;
                        color: rgb(7, 63, 231);
                        cursor: pointer;
                    }

                    .buttons {
                        display: flex;
                        justify-content: space-between;
                        margin-top: .5em;
                        padding: 0.1em;

                        :first-child {
                            cursor: pointer;
                            padding: 3px 5px;
                            color: #0d94b6;
                            background-color: white;
                            border: 1px solid #0d94b686;
                            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.095);
                            transition: all 0.2s ease-in;

                            &:hover {
                                border: 1px solid #0c8daead;
                                background-color: $lightGreen;
                                color: black;
                            }
                        }

                        :last-child {
                            cursor: pointer;
                            border: 1px solid #0c8daead;
                            background-color: $lightGreen;
                            color: black;
                            padding: 3px 5px;
                            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.095);
                            transition: all 0.2s ease-in;

                            &:hover {
                                color: #0d94b6;
                                background-color: white;
                                border: 1px solid #0d94b686;
                            }
                        }
                    }

                    .cat {
                        display: flex;
                        align-items: center;
                        gap: 2px;
                        color: teal;
                    }
                }
            }
        }
    }
}