.home {
    background-color: var(--bgSoft);
    padding: 20px 70px;
    display: "flex";
    flex: 6;

    &::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 960px) {
    .home {
       padding: 20px;
    }
}

@media (max-width: 480px) {
    .home {
        padding: 10px;
    }
}