@import '../features/fact/Fact.scss';
@import '../features/factsList/FactsList.scss';
@import '../features/login/Login.scss';
@import '../features/404/404.scss';
@import '../components/Elephant.scss';

.App {
        background: linear-gradient(-45deg, #080200, #ef0808, #fded06, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 140vh;
    }
    h1{
        margin-top: 0vh;
        width: 100vw;
        height: 20vh;
        color: #ff0000;
        text-shadow: #fded06;
        font-weight: bold;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    

