@import '../features/fact/Fact.scss';
@import '../features/factsList/FactsList.scss';
@import '../features/login/Login.scss';
@import '../features/404/404.scss';
@import '../components/Elephant.scss';

.App {
    // text-align: center;
    // background-color: #20c9ef;
    // min-height: 100vh;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // font-size: calc(10px + 2vmin);
    
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 140vh;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    

