body {
    background-color: rgb(152, 235, 246);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    h1 {
        display: flex;
        justify-content: center;

    }

}



.categoryWrapper {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;

   

    img {
        margin: 30px;
        height: 12rem;
        width: 12rem;
    }

    .categoryBox {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px solid green;

        &:hover {
            background-color: yellow;
          }
    }
}